/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*

organizations/fabric-ca/ordererOrg/msp 
organizations/fabric-ca/ordererOrg/tls-cert.pem 
organizations/fabric-ca/ordererOrg/ca-cert.pem 
organizations/fabric-ca/ordererOrg/IssuerPublicKey 
organizations/fabric-ca/ordererOrg/IssuerRevocationPublicKey 
organizations/fabric-ca/ordererOrg/fabric-ca-server.db

organizations/fabric-ca/auctionhouse/msp
organizations/fabric-ca/auctionhouse/tls-cert.pem
organizations/fabric-ca/auctionhouse/ca-cert.pem
organizations/fabric-ca/auctionhouse/IssuerPublicKey
organizations/fabric-ca/auctionhouse/IssuerRevocationPublicKey
organizations/fabric-ca/auctionhouse/fabric-ca-server.db

organizations/fabric-ca/authenticator/msp
organizations/fabric-ca/authenticator/tls-cert.pem
organizations/fabric-ca/authenticator/ca-cert.pem
organizations/fabric-ca/authenticator/IssuerPublicKey
organizations/fabric-ca/authenticator/IssuerRevocationPublicKey
organizations/fabric-ca/authenticator/fabric-ca-server.db

organizations/fabric-ca/appraiser/msp
organizations/fabric-ca/appraiser/tls-cert.pem
organizations/fabric-ca/appraiser/ca-cert.pem
organizations/fabric-ca/appraiser/IssuerPublicKey
organizations/fabric-ca/appraiser/IssuerRevocationPublicKey
organizations/fabric-ca/appraiser/fabric-ca-server.db


organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt
/credentials/wallet/*.id
/credentials/node_modules
/credentials/package-l*
